body {
    margin: auto;
    padding: auto;
    width: 97%;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding-top: 20px;
    margin: 0;
    
}

.wrapper nav ul {
    display: flex;
    flex-direction: row;
}
.wrapper li {
    list-style: none;
}
.wrapper li a {
    
    margin-right: 20px;
    
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}


.wrapper h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    
}

#main-image {
    width: 100%;
    height: 300px;
    background-image: url(/images/main\ \(1\).jpg);
    background-size: cover; /* La propriété cover ajuste automatiquement la taille pour couvrir toute la zone du conteneur sans déformation */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center center;
    text-align: center;
    padding-top: 110px;
}
    
.button {
    padding: 9px 13px;
    background-color: orange;
    border: none;
    color: white;
}
.main-image h2 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}
#main-steps
{   width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.steps {
    width: 32%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.steps p {
    text-align: center;
    font-family:  sans-serif;
   
}
.steps h3 {
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.7);
    
}
#main-possibilities{
    width: 100%;
    height: 350px;
    padding-left: 15px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.possibility{
    width: 49%;
    height: 90%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    
}
.proposition{
    width: 100%;
    text-align: center;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
}
.img{
    width: 100%;
    height: 100%;
    float: right;
    
    border-radius: 0 10px 10px 0;
}
 h4{
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: rgba(0, 0, 0, 0.1) solid 2px;
    color: rgba(0, 0, 0, 0.7);
    
}
.proposition p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.button2 {
    padding: 10px 13px;
    background-color: #FF6600;
    border: none;
    color: white;
}

#contact {
    padding: 30px 0;
    text-align: center;
    margin-bottom: 40px;
}
h1 h2 h3 h4 {
    color: #444;
}
#contact h3{
    font-size: 30px;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: solid 1px #02b8dd;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.7);
}
form {
    margin: 60px auto 20px auto;
}
label {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    color: #777;
}
input[type="text"]
{
    padding:10px ;
    font-size: 20px;
    margin-right: 20px;
}
.button3{
    padding: 15px;
    background-color: #47bff4;
    color: #fff;
    border: none;
}
footer {
    text-align: center;
    padding: 40px;
    background-color: #444;
    margin: 0;
}
footer h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}
footer p {
    color: rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    font-weight: 0.5px;
}
.orange {
    color: #FF6600;
    
}